* {
    margin: 0px;
    font-family: 'Outfit', sans-serif;
}
body {
    background-color: hsl(212, 45%, 89%);
}
.qr-continer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 320px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 12px;
    box-sizing: border-box;
}
.qr-image {
    width: 100%;
    height: 376px;
}
.qr-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.qr-text {
    display: flex;
    width: 313px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.qr-text h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 24px;
}
.qr-text p {
    width: 241px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}